/* styles.css */
/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    align-items: center;
    padding: 10px;
}


#logo {
    width: 150px;
}

h1 {
    color: #000000;
}
nav a {
    margin-left: 40px;
    margin-right: 40px;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

#search-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 80px;
}

input[type="search"] {
    width: 50%;
    padding: 10px;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    background-color: #002aa8;
    color: #ffffff;
    border: none;
    cursor: pointer;
}

#featured-header {
    text-align: center;
}

#featured-section {
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.politician img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-right: 40px;
}

#mission-section {
    padding-top: 20px;
    padding-bottom: 50px;
    background-color: #c00000;
    color: #ffffff;
}

#mission-section h2 {
    text-align: center;
    color: #ffffff;
}

#mission-section p {
    padding-left: 50px;
}
